<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>body {
      background-color: #f2f2f2;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .title {
      font-size: 36px;
      color: #333;
      margin-bottom: 1.5rem;
    }
    
    .description {
      font-size: 18px;
      color: #555;
      margin-bottom: 3rem;
    }
    </style>
    <title>Welcome Page</title>
  </head>
  
  <body>
   
    <div class="container my-5 text-center">
      <i class="fas fa-university fa-3x mb-3"></i>
      <h1 class="title">Welcome to Our website</h1>
      <p class="description">Thank you for visiting our site. We hope it's facilate u're treatment.</p>
      <a href="{{ url_for('table') }}"><i class="fas fa-graduation-cap fa-2x mb-3"></i></a>
    </div>
  </body>
</html>